::ng-deep .p-card-body {
    padding: 2% 5% 5% 2% !important;
    gap: 0px !important;
}

/* 调整分页按钮的大小和间距 */
::ng-deep .p-paginator-page {
    padding: 0em !important;
    margin: 0em !important;
    font-size: 1.1em !important;
    min-width: 1.8em !important;
    width: auto !important;
    height: auto !important;
}

/* 调整分页按钮的大小和间距 */
::ng-deep .p-paginator-first,
::ng-deep .p-paginator-last,
::ng-deep .p-paginator-next,
::ng-deep .p-paginator-prev,
::ng-deep .p-paginator-element {
    padding: 0em !important;
    margin: 0em !important;
    font-size: 1em !important;
    min-width: 1.5em !important;
    width: auto !important;
    height: auto !important;
}

::ng-deep .p-paginator {
    margin-top: 1em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}