<div class="grid">
    <p-dataview class="col-12 xl:col-6 xl:col-offset-3 lg:col-8 lg:col-offset-2 md:col-10 md:col-offset-1" #dv
        [value]="products" [layout]="'grid'" [rows]="8" [paginator]="true">

        <ng-template #header>
            <div class="flex">
                <p-dropdown class="w-5 sm:w-3" [options]="[]" placeholder="排序" />
            </div>
        </ng-template>

        <ng-template #grid let-items>
            <div class="grid">
                <div *ngFor="let product of items" class="col-6">
                    <p-card [style]="{ overflow: 'hidden' }">
                        <ng-template #header>
                            <div class="relative">
                                <img class="w-full"
                                    [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                                    alt="Card" />
                                <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"
                                    class="absolute" styleClass="dark:!bg-surface-900" [style.left.px]="4"
                                    [style.top.px]="4" />

                                <div class="block sm:hidden">
                                    <ng-container *ngTemplateOutlet="shoppingcartBtn; context: { $implicit: product }">
                                    </ng-container>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #title>
                            <div class="flex justify-content-end">
                                <label class="text-xl sm:text-2xl font-semibold">{{ product.name }}</label>
                                <label class="flex align-items-end text-base sm:text-lg font-semibold">
                                    {{ product.subname }}
                                </label>
                            </div>
                        </ng-template>

                        <ng-template #subtitle>
                            <div class="flex justify-content-end gap-2">
                                <label class="text-xs sm:text-sm font-light">{{ product.size }}</label>
                            </div>
                        </ng-template>

                        <div class="relative">

                            <div class="flex gap-1 sm:gap-2">
                                <label
                                    class="flex justify-content-start align-items-end mb-1 text-sm sm:text-4xl font-bold">
                                    $
                                </label>
                                <label class="flex justify-content-start text-xl sm:text-6xl font-bold">
                                    {{ product.price }}
                                </label>
                                <label
                                    class="flex justify-content-start align-items-end text-sm sm:text-base font-semibold sm:font-bold">
                                    /每斤
                                </label>
                            </div>

                            <div class="hidden sm:block">
                                <ng-container *ngTemplateOutlet="shoppingcartBtn; context: { $implicit: product }">
                                </ng-container>
                            </div>

                        </div>

                    </p-card>
                </div>
            </div>
        </ng-template>

    </p-dataview>
</div>


<ng-template #shoppingcartBtn let-product>
    <div class="absolute bottom-0 right-0 flex align-items-end justify-content-end justify-content-end">

        <p-button *ngIf="!product.isModify && !product.quantity" class="mr-3 sm:mr-2" icon="pi pi-cart-arrow-down"
            [rounded]="true" severity="success" (onClick)="shopCartClick(product)" />

        <p-overlaybadge *ngIf="!product.isModify && !!product.quantity" class="flipleft mr-3 sm:mr-2"
            [value]="product.quantity/10">
            <p-button icon="pi pi-shopping-cart" [rounded]="true" severity="warn" (onClick)="shopCartClick(product)" />
        </p-overlaybadge>

        <div *ngIf="product.isModify" class="flipright flex border-round-3xl bg-white border-1 border-0 h-2rem "
            [style]="{ overflow: 'hidden' }">
            <p-button *ngIf="product.quantity === 10" class="flipright flex align-items-center" icon="pi pi-trash"
                [rounded]="true" size="small" [text]="true" severity="contrast" (onClick)="qtyChange(product,-10)" />
            <p-button *ngIf="product.quantity !== 10" class="flipright flex align-items-center" icon="pi pi-minus"
                [rounded]="true" size="small" [text]="true" severity="contrast" (onClick)="qtyChange(product,-10)" />
            <input class="border-none max-w-3rem text-xl text-center" type="text" inputmode="numeric"
                [(ngModel)]="product.quantity" (input)="qtyInput(product,$event)" />
            <p-button class="flipright flex align-items-center" icon="pi pi-plus" [rounded]="true" size="small"
                [text]="true" severity="contrast" (onClick)="qtyChange(product,10)" />
        </div>
    </div>
</ng-template>