::ng-deep .p-menubar.p-component {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-image: url('/assets/TopbarBackground.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

::ng-deep p-menubarsub {
    justify-items: center !important;
    flex: auto !important;
}

::ng-deep .p-menubar-item-link:hover {
    background-color: var(--p-orange-300);
    /* 設定您的背景色 */
    transition: background-color 0.3s ease;
    /* 添加平滑過渡效果 */
    overflow: hidden;
    border-radius: var(--p-menubar-border-radius);
}

::ng-deep .p-menubar-item-link:active {
    background-color: var(--p-orange-400) !important;
}

::ng-deep .p-menubar-item.p-focus > .p-menubar-item-content {
    background: var(--p-orange-200) !important;
}
