<div class="card">
    <p-menubar [model]="items">
        <ng-template #start>
            <!-- <div class="bg-cover bg-no-repeat w-10rem h-10rem bg-primary border-round m-3"
                style="background-image: url('../assets/TopbarBackground.png'); background-size: 5rem;"></div> -->
            <!-- <img src="../assets/TopbarLogo.png" alt="Logo" style="max-width: 150px; width: auto; height: auto;"> -->
        </ng-template>

        <ng-template #item let-item let-root="root">
            <a pRipple class="flex items-center p-menubar-item-link" (click)="menuItm_Click(item.url)">
                <i [ngClass]="['pi', item.icon, isItmTitle&&root ? 'text-white' : '']"></i>
                <span [ngClass]="{ 'text-white font-bold':isItmTitle&&root,'text-2xl': !root, 'text-3xl': root }">
                    {{ item.label }}
                </span>
                <p-badge *ngIf="item.badge" class="ml-2" [value]="item.badge" />
                <span *ngIf="item.shortcut"
                    class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                    {{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
            </a>
        </ng-template>

        <ng-template #end>
            <a pRipple class="flex items-center p-menubar-item-link text-white" (click)="login()">
                <i class="pi pi-user"></i>
                <span>{{ '登入/註冊' }}</span>
            </a>
        </ng-template>

    </p-menubar>
</div>