::ng-deep .p-menubar.p-component {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

::ng-deep p-menubarsub {
    justify-items: center !important;
    flex: auto !important;
}